torch==2.1.0
torchvision==0.16.0
transformers==4.40.0
numpy==1.26.4
scipy==1.12.0
matplotlib==3.8.4
opencv-python==4.9.0.80
seaborn==0.13.2
Pillow==10.3.0
pandas==2.2.2
scikit-learn==1.4.2
imageio==2.34.1
torchsummary==1.5.1

